[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djoser = "*"
pillow = "*"
django-environ = "*"
stripe = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
